<h1 class="title">Word Definer</h1>
<br>
<p class="basic-text">Add a word that you would like to learn about and create your own definitions!</p>
<hr>
<br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS86TDEnVKEo0QT3iP14m_s_RvTbFOYlA8u5HcJ_kzLQAC0jlhH&s"/>
<h2>Available Words</h2>
<br>
<% if @words.any? %>

<% @words.each do |word| %>
<p><a href="/words/<%= word.id %>"><%= word.name %></a><br></p>
<% end %>

<% else %>
<p>There are currently no words to display...</p>
<% end %>
<br>
<br>
<a href="/words/new" class="main-button">Add Word</a>